<ion-header>
    <app-header [title]="'Cards'"></app-header>
</ion-header>
<ion-content padding>
  <ion-spinner *ngIf='isLoading' class="spinner" name="bubbles"></ion-spinner>
  <div *ngIf="!isLoading && isAuthenticated">
      <ion-card *ngFor="let card of cards">
          <ion-card-header>
              <ion-card-subtitle>
                  {{card.type}} card
              </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="content">
              <span>
                  {{card.number}}
              </span>
              <span>
                  <ion-buttons slot="end" [routerLink]="'/cards/'+card.id" >
                        <ion-button>
                            <ion-icon name="arrow-round-forward"></ion-icon>
                        </ion-button>
                    </ion-buttons>
              </span>
          </ion-card-content>
      </ion-card>
  </div>
</ion-content>
